* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #fffcf7;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.header {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    transition: top 0.4s ease-in-out;
    box-shadow: 0px 15px 15px -22px rgba(0, 0, 0, 0.45);
}

.logo-img {
    margin-top: 10px;
    margin-left: 20px;
    width: 60px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.header.visible {
    top: 0;
}

.header.hidden {
    top: -100px;
}

.fa-bag-shopping {
    position: relative;
    color: #191919;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
}

.main-photo>img {
    object-fit: cover;
    width: 105%;
}

.main-wrapper {
    margin-top: 70px;
}


.intro-text {
    text-align: center;
    padding: 0 1.2rem;
}

.main-button-container {
    margin: 2.4rem;
    display: flex;
    justify-content: center;
}

.main-button {
    text-align: center;
    padding: 10px 50px;
    background: #ffe88d;
    color: #1f1f1f;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}

.main-button:hover {
    background-color: #FFD93D;
}

footer {
    position: sticky;
    padding: 10px;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.footer-text {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-top: 1px rgba(128, 128, 128, 0.507) solid;
    font-size: small;
    flex-shrink: 0;
}

/* Navbar */

.overlay-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    top: 10%;
    text-align: center;
    margin-top: 50px;
}

.nav-item {
    text-decoration: none;
    color: #4F200D;
    font-family: 'Lora';
    font-size: 2rem;
    font-weight: bold;
    overflow: hidden;
}

.nav-item:hover,
.nav-item:focus {
    text-decoration: underline;
}

/* Hamburger to X */

#nav-icon4 {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 20px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 2;
}

#nav-icon4 span {
    position: absolute;
    height: 2px;
    width: 100%;
    background: #191919;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .3s ease-in-out;
    transform-origin: center;
}

#nav-icon4 span:nth-child(1) {
    top: 2px;
}

#nav-icon4 span:nth-child(2) {
    top: 9px;
}

#nav-icon4 span:nth-child(3) {
    top: 17px;
}

#nav-icon4.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 11px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 11px;
}

/* products list page  */

.products-list-container {
    padding-inline: 25px;
}

.products-list-container h1 {
    text-align: center;
}

.products-filter {
    display: flex;
    justify-content: center;
    margin: 20px 0 50px 0;
}

.products-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 16px;
}

.product-container {
    position: relative;
}

.product-container img {
    width: 150px;
    height: 200px;
    border-radius: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.product-name,
.product-price {
    color: #4F200D;
    margin: 0;
}

.product-name {
    font-size: 16px;
}

.product-price {
    font-size: 13px;
}


.product-type {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #4F200D;
    padding: 3px 6px;
    border-radius: 8px;
    font-weight: bold;
    color: #fffcf7;
    font-size: 13px;
}

/* Product type select */



ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
}



ul,
li {
    list-style-type: none;
}

li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px rgba(128, 128, 128, 0.281) solid;
    width: 100%;
}

.filter-button {
    background: #ffe88d;
    color: #1f1f1f;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    width: 100px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}


.controls {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 150px;
    height: auto;
    display: flex;
    background: #ffe88d;
    color: #1f1f1f;
    font-size: 15px;
    font-weight: 400;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.20);
}

.product-detail-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.product-detail-img-container {
    position: relative;
}

.product-detail-img {
    width: 100%;
    display: block;
}

.product-detail p {
    font-size: 13px;
    color: #8E8E93;
}

.black-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0.5) 20%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
}


.product-detail-overlay {
    position: absolute;
    top: 80%;
    left: 15%;
    width: 70%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-detail-back-button-icon {
    color: black;
    font-size: 20px;
    position: absolute;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.603) 0px 2px 16px 0px;
    top: 40px;
    left: 40px;
    z-index: 1;
    background-color: #fffcf7;
    border-radius: 100px;
    padding: 15px;
}

.back-button-icon {
    margin-right: 10px;
    font-size: 20px;
}

.back-button {
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 16px;
    align-items: center;
    text-align: center;
}

.fa-heart {
    color: black;
    font-size: 20px;
    position: absolute;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.603) 0px 2px 16px 0px;
    top: 40px;
    right: 40px;
    z-index: 1;
    background-color: #fffcf7;
    border-radius: 100px;
    padding: 15px;
    cursor: pointer;
}

.saved {
    color: #ed1d24;
}

.product-detail {
    background-color: #fffcf7;
    align-items: flex-end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 20px;
    z-index: 1;
    height: auto;
    width: 350px;
    margin-bottom: 200px;
}

.back-button-text {
    font-size: 16px;
    color: black;
}


.clickedProduct-price {
    margin: 0;
    padding: 0;
}

.product-detail h2 {
    margin: 5px 0;
}

.add-to-cart-button {
    padding: 10px 70px;
    background: #ff8c38;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 18px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.20);
    font-size: 18px;
    cursor: pointer;

    white-space: nowrap;
}

.product-detail-quantity {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 20px;
    background-color: #ff8c38;
    color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.20);
}

.add-to-cart-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* about us page */

.about-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
}


.about-container img {
    width: 100%;
    height: 300px;
}

.about-image-top {
    margin-bottom: 150px;
}

.about-text {
    position: absolute;
    top: 366px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    width: 300px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 8px;
    text-align: center;
}

.about-text-middle {
    position: absolute;
    top: 815px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    width: 300px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 8px;
    text-align: center;
}

.about-image-middle {
    margin-bottom: 200px;
}

.about-text-end {
    position: absolute;
    top: 1318px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    width: 300px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 8px;
    text-align: center;
}

.about-image-end {
    margin-bottom: 150px;
}

/* cart */

.cart-container {
    height: 100vh;
    width: 75%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.cart-content {
    margin: 0 20px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;
    color: #777777;
    font-weight: 500;
}

.cart-backdrop {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.fa-trash-can {
    font-size: 20px;
}

.fa-xmark {
    font-size: 20px;
    cursor: pointer;
}

.cart-empty {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-empty i {
    font-size: 50px;
    color: #cdcdcd;
    margin-bottom: 10px;
}

.cart-empty p {
    color: #cdcdcd;
}

.badge-cart {
    display: flex;
    padding: 2px;
    background-color: #ffe88d;
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 8px;
    cursor: pointer;
}

.cart-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #777777;
}

.cart-item-image {
    width: 80px;
    height: auto;
}

.cart-item-price {
    font-size: 12px;
}

.cart-item-name-price {
    justify-content: start;
    text-align: start;
}

/* account */

.account-container {
    padding: 20px;
}

.account-container h1 {
    text-align: center;
}

.account-container p {
    color: #777777;
}

.account-new-client-container {
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid grey;
}

.account-new-client-container p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #777777;
    margin-bottom: 20px;
}

.account-new-client-container button {
    text-align: center;
    padding: 10px 50px;
    background: #ffe88d;
    color: #1f1f1f;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}

.account-login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}

.account-login-container p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #777777;
}

.login-form>input {
    border: 1px solid rgba(209, 213, 219);
    height: 40px;
    text-indent: 10px;
    font-family: "Poppins", sans-serif;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 400;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.login-form>input:focus {
    outline: none;
}

.login-form>button {
    margin-top: 10px;
    text-align: center;
    padding: 10px 50px;
    background: #ffe88d;
    color: #1f1f1f;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}

.account-register-container {
    padding: 20px;
}

.account-register-or {
    color: #777777;
}

.google-login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9b4756;
    background-color: #a2657031;
    cursor: pointer;
    padding: 15px 20px;
}

.google-login-button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #993245;
    text-align: justify;
    font-weight: 600;
    cursor: pointer;
}

.fa-google {
    color: #993245;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.facebook-login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4267B2;
    background-color: #4267b22a;
    cursor: pointer;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.facebook-login-button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #4267B2;
    text-align: justify;
    font-weight: 600;
    cursor: pointer;
}

.fa-facebook {
    color: #4267B2;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.register-alert {
    padding: 10px;
    background-color: #f9dedc;
    color: #8c1D18;
    font-size: 13px;
    margin-bottom: 10px;
}

.header-account-header-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.fa-user-astronaut {
    font-size: 25px;
    margin-right: 20px;
    position: relative;
    color: #191919;
    cursor: pointer;
}



/* user */

.user-photo {
    width: 29px;
    border-radius: 100%;
    margin-right: 20px;
    position: relative;
    margin-top: 5px;
}

.account-profile-container {
    padding: 10px;
}

.account-profile-list {
    text-align: start;
    margin-bottom: 20px;
}

.logout-button {
    text-align: center;
    padding: 5px 20px;
    background: #ffe88d;
    color: #1f1f1f;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}